# Ignore Python virtual environments
backend/.venv/
gui-frontend/.venv

# Ignore environmental variables
.env

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore editor/project files
.vscode/

# Ignore notes
notes